










<button mat-button>Basic Button</button>
<button mat-raised-button color="primary">Raised Button</button>
<button mat-icon-button aria-label="Example icon button">
  <mat-icon>favorite</mat-icon>
</button>
<mat-toolbar color="primary">
  <span>My Navbar</span>
  <span class="spacer"></span>
  <button mat-button>Home</button>
  <button mat-button>About</button>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    This is some card content.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Action</button>
  </mat-card-actions>
</mat-card>
<mat-form-field appearance="fill">
  <mat-label>Enter your name</mat-label>
  <input matInput placeholder="John Doe">
</mat-form-field>
<mat-icon>home</mat-icon>
<mat-icon color="primary">favorite</mat-icon>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item>Link 1</a>
      <a mat-list-item>Link 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Main Content</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-table [dataSource]="books" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</mat-table>
<mat-list>
  <mat-list-item *ngFor="let book of books">{{ book.name }}</mat-list-item>
</mat-list>
